/* Large desktops and laptops */

@media (max-width: 1300px) {
	.slick-next {
		right: -2%;
	}
	.slick-prev {
		left: -2%;
		z-index: 999;
	}
}

@media (max-width: 1199px) {
	.container {
		width: 1170px;
	}
	.warm h1 {
		font-size: 36px;
	}
	.warm h3 {
		font-size: 25px;
	}
/*	.slick-next {
		right: -5%;
	}
	.slick-prev {
		left: -5%;
	}*/
}


/* Portrait tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
	.container {
		width: 985px;
	}
	nav ul li {
		margin-left: 15px;
	}
	nav ul li a {
		font-size: 15px;
	}	
	.slick-next {
		right: -2%;
	}
	.slick-prev {
		left: -2%;
	}
}

@media (max-width: 991px) {
	.container {
		width: 850px;
	}
	.logo {
		top: -20px;
		z-index: -1;
	}
	.topbar {
		height: 65px;
	}
	nav ul li {
		margin-left: 22px;
	}
	nav ul li a {
		font-size: 15px;
		line-height: 53px;
	}
	.advantages .col-md-3 {
		width: 50%;
	}
	.slick-next {
		right: 2%;
	}
	.slick-prev {
		left: 2%;
	}
	.top_address li {
		margin-left: 25px;
	}
	.topbar .top_address {
		float: right;
		line-height: 30px;
	}
	.top_address li span {
		line-height: 20px;
	}
	.top_address li {
		float: none;
		margin-right: 160px;
	}
	.top_address li:first-child {
		float: right;
		margin-right: 0;
		line-height: 28px;
	}
	.offer_top_text {
		margin-right: 30px;
	}
}

@media (max-width: 850px) {
	.container {
		width: 760px;
	}
	.warm h1 {
	    font-size: 25px;

	}
	.warm h3 {
		font-size: 18px;
		 line-height: 25px;
	}
	.warm h3  span {
		font-size: 26px;
	}
	.header_contact {
	    padding: 10px;
	    height: 365px;
	    width: 260px;
	}

}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
	.top_address li {
		margin-right: 150px;
	}
	.advantages .col-md-3 {
		padding: 0 60px;
	}
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
	.container {
		width: 100%;
	}
	.nav_wrap {
		min-height: 53px;
		height: 100%;
		position: relative;
	}
	nav ul li {
		display: block;
		float: none;
	}
	nav ul li a {
		font-size: 15px;
    	line-height: 30px;
	}
	nav ul li:last-child {
		margin-left: 22px;
	}
	.pull {
		display: none;
	}
	#nav-toggle {
		position: absolute;
		right: 15px;
		top: 15px;
		cursor: pointer;
		padding: 10px 35px 16px 0px;
	}
	#nav-toggle span,
	#nav-toggle span:before,
	#nav-toggle span:after {
		content: '';
		cursor: pointer;
		border-radius: 1px;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		-o-border-radius: 1px;
		height: 5px;
		width: 35px;
		background: #fff;
		position: absolute;
		display: block;
	}
	#nav-toggle span:before {
		top: -10px;
	}
	#nav-toggle span:after {
		bottom: -10px;
	}
	#nav-toggle span,
	#nav-toggle span:before,
	#nav-toggle span:after {
		transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
	}
	#nav-toggle.active span {
		background-color: transparent;
	}
	#nav-toggle.active span:before,
	#nav-toggle.active span:after {
		top: 0;
	}
	#nav-toggle.active span:before {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}
	#nav-toggle.active span:after {
		transform: translateY(-10px) rotate(-45deg);
		-webkit-transform: translateY(-10px) rotate(-45deg);
		-ms-transform: translateY(-10px) rotate(-45deg);
		top: 10px;
	}
	.slider_content {
		margin-right: 0;
		padding: 0 10px;
	}
	.slick-slide:nth-child(2n+2) .slider_content {
		margin-right: 2px;
	}
	.advantages .col-md-3 {
		width: 50%;
	}
	.advantages_h2 {
		margin: 25px 0 35px 0;
	}
	.header_slider{
		min-height: 480px;
	}
	.warm {
		padding: 0 10px;
	}
	.header_contact {
		width: 200px;
	}
	[class*='col-'] {
		padding-right: 0;
	}
}

@media (max-width: 700px) {
	.container {
		width: 100%;
	}
	.top_address li {
		margin-right: 90px;
	}

	.header_contact h3{
		font-size: 18px;
   		margin-bottom: 15px;
	}
	.header_contact p {
	    font-size: 15px;
	    line-height: 16px;
	    margin-bottom: 15px;
	}
	.warm {
		padding-bottom: 30px;
	}
}

@media (max-width: 630px) {
	.top_address li {
		display: none;
	}
	.top_address li:first-child {
		display: block;
		margin-right: 30px;
		line-height: 62px;
	}
	.logo {
		top: 0;
	}
	.logo img {
		width: 60%;
	}
	.topbar {
		height: 60px;
	}
	.top_address li span {
		font-size: 16px;
	}
	.header_contact {
		display: none;
	}
	.header_slider {
		min-height: 390px;
	}
	.col-xs-12 {
		width: 100%;
		text-align: center;
	}
	.warm {
		margin-bottom: 50px;
	}
	.warm h1 {
		font-size: 30px;
		margin-top: 25px;
	}
	.present {
		margin-top: 30px;
	}
}


/* Landscape phones and smaller */

@media (max-width: 480px) {
	.top_address li:first-child {
		margin-right: 10px;
	}
	.advantages .col-md-3 {
		width: 100%;
		min-height: 170px;
		padding: 0 60px;
	}
	.advantages .col-md-12 p {
		width: 92%;
	}
	.count_days, .count_minutes, .count_hours, .count_seconds {
		margin-right: 10px;
	}
	.content_timer {
		font-size: 26px;
	}
	.warm {
		padding: 0;
	}
}
