/* Large desktops and laptops */

@media (min-width: 1199px) {}

@media (max-width: 1199px) {
	.warm h1 {
		font-size: 36px;
	}
	.warm h3 {
		font-size: 25px;
	}
	nav ul li {
		margin-left: 15px;
	}
	nav ul li a {
		font-size: 15px;
	}
	.steps_item_wrap p {
		margin-bottom: 30px;
	}
}

@media (max-width: 992px) {
	.row {
		margin: 0;
	}
	.logo {
		top: -20px;
		z-index: -1;
	}
	.topbar {
		height: 65px;
	}
	nav ul li {
		margin-left: 22px;
	}
	nav ul li a {
		font-size: 15px;
		line-height: 53px;
	}
	.top_address li {
		margin-left: 25px;
	}
	.topbar .top_address {
		float: right;
		line-height: 30px;
	}
	.top_address li span {
		line-height: 20px;
	}
	.top_address li {
		float: none;
		margin-right: 160px;
	}
	.top_address li:first-child {
		float: right;
		margin-right: 0;
		line-height: 28px;
	}
	.header_slider {
		min-height: 560px;
	}
	.warm h3 {
		font-size: 19px;
	}
	.header_slider .slick-dots {
		bottom: -50px;
	}
	.offer_top_text {
		margin-right: 30px;
	}
	.review_item img {
		margin-right: 5px;
	}
}


/* Landscape phones and portrait tablets */

@media (max-width: 768px) {
	.nav_wrap {
		position: relative;
		min-height: 53px;
		z-index: 999;
	}
	nav ul {
		background: #252525;
	}
	nav ul li {
		display: block;
		float: none;
		margin-left: 0;
		text-align: center;
	}
	nav ul li a {
		font-size: 15px;
		line-height: 30px;
	}
	nav ul li:last-child {
		margin-left: 22px;
	}
	.pull {
		display: none;
		position: absolute;
		width: 100%;
	}
	#nav-toggle {
		position: absolute;
		right: 15px;
		top: 15px;
		cursor: pointer;
		padding: 10px 35px 16px 0px;
	}
	#nav-toggle span,
	#nav-toggle span:before,
	#nav-toggle span:after {
		content: '';
		cursor: pointer;
		border-radius: 1px;
		-moz-border-radius: 1px;
		-webkit-border-radius: 1px;
		-o-border-radius: 1px;
		height: 5px;
		width: 35px;
		background: #fff;
		position: absolute;
		display: block;
	}
	#nav-toggle span:before {
		top: -10px;
	}
	#nav-toggle span:after {
		bottom: -10px;
	}
	#nav-toggle span,
	#nav-toggle span:before,
	#nav-toggle span:after {
		transition: all 500ms ease-in-out;
		-webkit-transition: all 500ms ease-in-out;
		-moz-transition: all 500ms ease-in-out;
		-o-transition: all 500ms ease-in-out;
	}
	#nav-toggle.active span {
		background-color: transparent;
	}
	#nav-toggle.active span:before,
	#nav-toggle.active span:after {
		top: 0;
	}
	#nav-toggle.active span:before {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
	}
	#nav-toggle.active span:after {
		transform: translateY(-10px) rotate(-45deg);
		-webkit-transform: translateY(-10px) rotate(-45deg);
		-ms-transform: translateY(-10px) rotate(-45deg);
		top: 10px;
	}
	.present h4 {
		font-size: 22px;
	}
	.present p {
		font-size: 15px;
	}
	.slider_content {
		margin-right: 0;
		padding: 0 10px;
	}
	.slick-slide:nth-child(2n+2) .slider_content {
		margin-right: 2px;
	}
	.advantages_h2 {
		margin: 25px 0 35px 0;
	}
	.advantages .col-md-3 {
		min-height: 165px;
	}
	.five_steps {
		-webkit-background-size: cover;
		background-size: cover;
	}
	.steps_text_left {
		margin-top: 180px;
		margin-left: 20%;
	}
	#big_number {
		position: absolute;
		margin: 0px 27%;
		font-size: 450px;
	}
	.steps_item_wrap {
		margin: 15% 10% 5% 10%;
	}
	.btn_five_steps {
		margin-bottom: 50px;
	}
	.review_content,
	.content_right .review_content {
		padding: 30px 5px 15px 5px;
	}
	.text_wrap {
		width: 90%;
		margin: 0 auto;
	}
	.contacts_map {
		position: relative;
		min-height: 350px;
		margin: 0 auto;
		left: 0;
		width: 50%;
	}
	.btn_partners {
		margin-left: 0;
	}
	.become_partner h3 {
		float: none;
		margin-right: 0;
		margin-bottom: 25px;
		text-align: center;
	}
	.contacts_map h2 {
		padding: 20px 0;
		text-align: center;
	}
	.become_partner a {
		margin: 10px 20px;
	}
	.btn_partners {
		display: block;
		margin: 0 auto;
		margin-top: 40px;
	}
	footer {
		margin: 20px 10px;
	}
}

@media (max-width: 700px) {
	.top_address li {
		margin-right: 90px;
	}
	.header_slider {
		min-height: 510px;
		position: relative;
	}
	.header_contact h3 {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.header_contact {
		display: none;
	}
	.warm {
		padding-bottom: 30px;
		width: 100%;
		text-align: center;
	}
	.present {
		margin-top: 30px;
		margin-left: 0;
	}
}

@media (max-width: 640px) {
	.top_address li {
		display: none;
	}
	.top_address li:first-child {
		display: block;
		margin-right: 30px;
		line-height: 62px;
	}
	.logo {
		top: 0;
	}
	.logo img {
		width: 60%;
	}
	.topbar {
		height: 60px;
	}
	.top_address li span {
		font-size: 16px;
	}
	.header_slider {
		min-height: 390px;
	}
	.warm {
		margin-bottom: 50px;
	}
	.warm h1 {
		font-size: 30px;
		margin-top: 25px;
	}
	.header_slider .slick-dots {
		bottom: 20px;
	}
	.img_wrap .economical_window,
	.img_wrap .urgently_window,
	.img_wrap .warm_window {
		width: 55%;
	}
	section h2:before {
		vertical-align: bottom;
	}
	.text_wrap p {
		font-size: 15px;
		margin-bottom: 20px;
		line-height: 20px;
	}
}


/* Landscape phones and smaller */

@media (max-width: 480px) {
	.top_address li:first-child {
		margin-right: 10px;
	}
	.top_address li span {
		font-size: 14px;
	}
	.warm h1 {
		font-size: 25px;
	}
	.warm h3 {
		line-height: 26px;
	}
	.warm h3 span {
		font-size: 28px;
	}
	.present h4 {
		font-size: 18px;
		margin-top: 14px;
	}
	.count_days,
	.count_minutes,
	.count_hours,
	.count_seconds {
		margin-right: 8px;
	}
	.content_timer {
		font-size: 26px;
	}
	.offer_top_text span {
		font-size: 15px;
	}
	section h2 {
		font-size: 28px;
	}
	.advantages .col-md-12 p {
		font-size: 14px;
		line-height: 19px;
	}
	.review_item img {
		margin-right: 100%;
	}
	.content_right img {
		margin-right: 0;
		margin-left: 100%;
	}
	.contacts_map {
		width: 100%;
		padding: 0;
	}
	.contacts_wrap {
		padding: 0 10px;
	}
	.become_partner h3 {
		font-size: 26px;
	}
}
