body {
  color: #131313;
  font-family: 'Exo 2', sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Tw Cen MT Condensed';
  src: url('../font/tw-cen-mt-condensed-extra-bold.ttf');
  font-weight: 900;
  font-style: normal;
}

section h2 {
  margin: 50px 0;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}

section h2:before {
  content: '■';
  color: #248f40;
  font-size: 31px;
  vertical-align: top;
  margin-right: 5px;
}


/* ==========================================================================
grid
========================================================================== */

.container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}


/* ==========================================================================
header
========================================================================== */

.logo {
  position: absolute;
}

.topbar {
  position: relative;
  height: 48px;
}

.topbar .top_address {
  list-style-type: square;
}

.top_address li {
  float: right;
  margin-left: 65px;
  color: #248f40;
}

.top_address li a {
  border-bottom: 1px dashed #248f40;
}

.top_address li span {
  font-size: 16px;
  line-height: 45px;
  font-weight: 300;
}

.nav_wrap {
  height: 53px;
  width: 100%;
  background-color: #252525;
}

nav ul li {
  display: inline-block;
  float: right;
  margin-left: 35px;
}

nav ul li:last-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  font-weight: 300;
}

nav ul li a:hover,
nav ul li a:active {
  color: #248f40;
}


/* ==========================================================================
header_slider
========================================================================== */

.header_slider {
  position: relative;
  min-height: 530px;
  width: 100%;
  border-bottom: 5px solid #248f40;
  background: url(../img/bg_header_slider.png) no-repeat center center;
}

.header_slider .slick-dotted.slick-slider {
  margin-bottom: -6px;
}

.warm {
  color: #fff;
  width: 60%;
  float: left;
}

.warm h1 {
  margin-top: 105px;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 1.1px;
}

.warm h3 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  letter-spacing: 0.8px;
}

.warm h3 span {
  font-size: 36px;
  font-weight: 700;
}

.present {
  margin-top: 50px;
  margin-left: 6%;
}

.present p {
  font-size: 16px;
}

.present h4 {
  font-size: 24px;
  letter-spacing: 0.8px;
  font-weight: 700;
  text-transform: uppercase;
}

.timer {
  position: relative;
  margin: 25px 0;
  font-family: 'Exo 2', sans-serif;
}

.count_days,
.count_minutes,
.count_hours,
.count_seconds {
  position: relative;
  margin-right: 25px;
}

.time_item {
  display: inline-block;
  overflow: hidden;
  position: relative;
}

.content_timer {
  display: block;
  border: 1px solid #fff;
  font-size: 35px;
  letter-spacing: 1.2px;
  font-weight: 200;
  padding: 4px 5px;
}

.timer_text {
  position: absolute;
  display: block;
  font-size: 12px;
  left: 28%;
  top: 27px;
}

.header_contact {
  color: #fff;
  float: right;
  min-height: 360px;
  width: 27%;
  padding: 30px;
  margin-top: 70px;
  background: rgba(0, 0, 0, 0.2);
}

.header_contact h3 {
  font-size: 20px;
  margin-bottom: 15px;
  padding-left: 15px;
  text-transform: uppercase;
}

.header_contact p {
  font-size: 16px;
  line-height: 20px;
  padding-left: 15px;
  margin-bottom: 25px;
}

.header_contact p span {
  font-weight: 700;
}

.header_contact input {
  outline: 0;
  width: 90%;
  height: 35px;
  padding: 0 15px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  border: 1px solid #767676;
  background: transparent;
}

.header_contact input::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
}

.header_contact input:focus {
  border: 1px solid #fff;
}

.btn_submit {
  outline: 0;
  color: #fff;
  font-size: 20px;
  width: 100%;
  height: 50px;
  border: none;
  text-transform: uppercase;
  background-color: #ec360a;
  cursor: pointer;
}

.btn_submit:hover,
.btn_submit:active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: #b52a08;
}


/* ==========================================================================
offer
========================================================================== */

.offer {
  position: relative;
  min-height: 900px;
}

.offer_top_text {
  text-align: right;
}

.offer_top_text span {
  color: #636363;
  margin-bottom: 15px;
  font-size: 20px;
  border-bottom: 1px dashed #c3c3c3;
}

.offer_top_text span:after {
  content: ' ';
  float: right;
  height: 25px;
  width: 24px;
  cursor: pointer;
  margin-left: 5px;
  background: url(../img/sprits.png) no-repeat center center;
  background-position: -3px -27px;
}

.slider_offer {
  margin: 30px 0;
  text-align: center;
}

.slider_offer h3 {
  color: #248f40;
  font-size: 26px;
  font-weight: 500;
}

.slider_offer .main_img {
  width: 100%;
  padding: 15px 0;
  margin: 25px 0;
  border: 1px solid #c1c1c1;
  height: 300px;
}

.slick-slide:nth-child(4n+4) .slider_content {
  margin-right: 2px;
}

.img_wrap {
  position: relative;
  top: 0;
  left: 0;
}

.img_wrap .economical_window,
.img_wrap .urgently_window,
.img_wrap .warm_window {
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.img_wrap .warm_window {
  bottom: 1px;
  right: 9px;
}

.window_standart {
  float: left;
  text-align: left;
}

.window_price {
  float: right;
}

.window_standart span,
.slider_content .window_price p {
  font-size: 20px;
  margin-bottom: 20px;
}

.window_standart span {
  display: block;
  font-size: 20px;
}

.window_standart span:first-child,
.window_price p:last-child {
  padding-top: 10px;
}

.window_price p {
  color: #535353;
}

.window_price p span {
  font-size: 30px;
}

.btn_green {
  outline: none;
  color: #fff;
  width: 100%;
  clear: both;
  display: block;
  margin: 0 auto;
  padding: 14px 0;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  background-color: #248f40;
}

.btn_green:hover,
.btn_green:focus {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #3cc35f;
}

.slider_content .note {
  color: #535353;
  font-size: 15px;
  font-weight: 300;
  margin-top: 15px;
  line-height: 23px;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
  z-index: 99;
}


/* ==========================================================================
advantages
========================================================================== */

.advantages {
  min-height: 720px;
  color: #fff;
  background: url(../img/advantages_bg.png) no-repeat center center;
  background-size: cover;
}

.advantages h4 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.advantages p {
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.advantages .col-md-3 {
  text-align: center;
  min-height: 202px;
}

.advantages_icon {
  display: block;
  width: 70px;
  height: 65px;
  margin: 0 auto;
  margin-bottom: 15px;
  background: url(../img/sprits.png) no-repeat center center;
  background-position: 0px -91px;
}

.faster {
  width: 58px;
  background-position: -73px -91px;
}

.clean {
  background-position: -135px -91px;
}

.oll_week {
  background-position: -202px -91px;
}

.employee i {
  background-position: 5px -158px;
}

.employee h4 {
  font-size: 18px;
  font-weight: 300;
}

.employee span,
.free_consultation span,
.reliably span,
.guarantee span {
  font-size: 20px;
  font-weight: 600;
}

.free_consultation i {
  width: 91px;
  background-position: -62px -158px;
}

.reliably i {
  width: 60px;
  background-position: -152px -158px;
}

.guarantee i {
  background-position: -208px -158px
}

.advantages .col-md-12 p {
  width: 83.33333333%;
  margin: 0 auto;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 24px;
}


/* ==========================================================================
our_work
========================================================================== */

.our_work {
  text-align: center;
  min-height: 300px;
}

.slider_our_work {
  margin-bottom: 50px;
}

.slider_our_work img {
  width: 100%;
  min-height: 232px;
  margin-bottom: 30px;
}


/* ==========================================================================
work_for_you
========================================================================== */

.work_for_you {
  margin-bottom: 86px;
}

.slider_work_for_you {
  margin-bottom: 50px;
}

.work_for_you_content h5 {
  color: #fff;
  width: 100%;
  padding: 35px 0;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #248f40;
  text-align: center;
  text-transform: uppercase;
}

.work_for_you_content .long_name {
  padding: 22px 0;
}

.work_for_you_content img {
  width: 100%;
}

.slider_work_for_you .slick-dots {
  bottom: -75px;
}

.content_text {
  color: #fff;
  padding: 20px 5px;
  font-size: 13px;
  font-weight: 300;
  text-align: left;
  background-color: #323232;
}

.content_text p {
  width: 50%;
  display: inline-block;
  padding: 5px 2px;
}

.content_text p:first-child {
  width: 100%;
}

.slick-initialized .slick-slide {
  margin: 0 10px;
}


/* ==========================================================================
five_steps
========================================================================== */

.five_steps {
  min-height: 765px;
  background: url(../img/bg_five_steps.png) no-repeat center center;
}

#big_number {
  color: #5da36d;
  position: absolute;
  font-size: 614px;
  font-family: 'Tw Cen MT Condensed', sans-serif;
  margin: 5% 0 0 17%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.steps_text_left {
  float: left;
  margin: 59% 0 0 22%;
  font-weight: 300;
}

.steps_text_left p {
  position: relative;
  font-size: 28px;
  z-index: 99;
}

#tex_own {
  font-size: 80px;
}

.steps_item_wrap {
  margin-top: 75px;
  text-align: left;
}

.steps_item_wrap p {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  color: #248f40;
  font-size: 64px;
}

.steps_item_wrap span {
  color: #131313;
  font-size: 28px;
  padding: 5px 0 0 35px;
}

.steps_item_wrap .one_line {
  padding-top: 22px;
}

.five_steps .center {
  text-align: center;
}

.btn_five_steps {
  width: 270px;
}


/* ==========================================================================
reviews
========================================================================== */

.reviews .review_item {
  margin: 0 auto;
}

.review_item {
  width: 83.33333333%;
}

.review_item img {
  float: left;
  height: 100%;
  margin-top: 20px;
  outline: 4px solid #248f40;
  outline-offset: -9px;
}

.review_content {
  position: relative;
  padding: 10px 20px 15px 60px;
  margin-left: 14%;
  margin-bottom: 50px;
  font-size: 16px;
  border: 4px solid #cecece;
  z-index: -1;
}

.review_content h5 {
  font-weight: 700;
  line-height: 30px;
}

.review_content a {
  color: #248f40;
  font-style: italic;
}

.review_content p {
  margin-top: 20px;
  font-weight: 400;
  line-height: 20px;
}

.content_right img {
  float: right;
}

.content_right .review_content {
  padding: 10px 60px 15px 20px;
  margin-right: 14%;
  margin-left: 0;
}


/* ==========================================================================
advice_news
========================================================================== */

.advice_news {
  min-height: 550px;
  background-color: #eaeceb;
  clear: both;
}

.advice_news .slick-dots {
  bottom: -110px;
}

.news_item h4 {
  color: #248f40;
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
}

.news_item p {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  margin: 20px 0 15px 0;
}

.news_item a,
.text_wrap a {
  color: #767676;
  font-size: 14px;
  float: right;
}

.news_item a:hover,
.text_wrap a:hover {
  color: #248f40;
}


/* ==========================================================================
contact
========================================================================== */

.name_section {
  min-height: 250px;
  clear: both;
}

.text_wrap {
  font-family: 'Exo 2', sans-serif;
}

.text_wrap p {
  font-size: 18px;
  font-weight: 300;
}

.text_wrap a {
  margin-bottom: 50px;
}

#map_contact {
  position: relative;
  min-height: 400px;
}

#map {
  width: 100%;
  height: 410px;
  position: relative;
}

section .contacts_map h2:before {
  color: #fff;
}
.contacts_map {
  color: #fff;
  position: absolute;
  width: 33.33333333%;
  min-height: 350px;
  top: 0;
  right: 0;
  padding: 40px 32px 20px 32px;
  font-size: 18px;
  font-weight: 300;
  background-color: rgba(64, 62, 62, 0.8);
}

.contacts_map h2 {
  margin: 0;
  text-align: left;
}

.contacts_map h4 {
  margin: 25px 0;
}

.contacts_map p {
  line-height: 25px;
}

.btn_contacts_map {
  margin: 20px 0 25px;
}

.icon_contact {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin: 10px 20px 0 0;
  background: url(../img/sprits.png) no-repeat;
  background-position: 0px -227px;
  cursor: pointer;
}

.vk {
  background-position: -43px -227px;
}

.instagram {
  background-position: -83px -227px;
}

.instagram:hover {
  background-position: -83px -237px;
}

.google_plus {
  background-position: -124px -227px;
}


/* ==========================================================================
partners
========================================================================== */

.slider_partners {
  margin-bottom: 50px;
}

.partners_img_wrap {
  text-align: center;
  height: 180px;
  position: relative;
}

.partners_img_wrap img {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.become_partner {
  width: 100%;
  min-height: 170px;
  padding: 30px 0;
  margin: 0 auto;
  outline: 2px solid #248f40;
  outline-offset: -2px;
}

.become_partner h3 {
  color: #248f40;
  float: left;
  margin-right: 10px;
  font-size: 36px;
  font-weight: 500;
}

.become_partner a {
  color: #248f40;
  font-size: 30px;
  font-weight: 300;
  border-bottom: 1px dashed #248f40;
}

.btn_partners {
  width: 260px;
  margin-top: 30px;
  margin-left: 60%;
}


/* ==========================================================================
footer
========================================================================== */

footer {
  margin: 38px 0 20px 0;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Exo 2', sans-serif;
}

footer p {
  float: left;
}

footer a {
  color: #131313;
  float: right;
  text-transform: uppercase;
}

footer a:hover {
  color: #248f40;
}
